{% extends "base.html.twig" %}
{% block title %} Inscription ! {% endblock %}
{% block body %}
    <div class="main" style="margin-top: 15px;">
    <div class="container">
        <div class="signup-content">
            <div class="signup-img">
                <img src="images/signup-img.jpg" alt="">
            </div>
            <div class="signup-form">

                    <h2>User registration form</h2>
        {{ form(form) }}

    </div>
        </div>
    </div>
    </div>


{% endblock %}