<p>Madame,Monsieur</p>

<p>Nous avons reçu votre lettre relative à votre annulation de la commande n° <strong>{{ id }}</strong></p>

<p>Toutefois, nous sommes au regret de vous informer que nous ne pouvons accepter cette annulation car
    la marchandise est en cours d’expédition. En effet, sa fabrication a été réalisée à la date demandée lors de votre commande.</p>

<p>Nous essayons de respecter les délais demandés par les clients. C’est pourquoi,
    nous vous demandons d’accepter cette livraison dès qu’elle parviendra à vos entrepôts.</p>

<p>Nous vous remercions de votre compréhension.</p>

<p>Veuillez agréer, Madame ou Monsieur, nos sentiments distingués.</p>
